 {% extends "/staff/base.html" %} {% block content %}
<div class="container">
    <div class="card" style="padding:1rem;">
        <h2>Welcome!</h2>

        {% if 'staff_id' in session %}
        <div class="row">
            <div class="col-4">
                <img src="{{ url_for('static', filename='blogImages/' + session['staff_image']) }}" class="rounded float-left" alt="{{session['admin_image']}}" style="height:10rem; width:10rem;">
            </div>
            <div class="col-8">
                <h3>{{ session['staff_firstname'] }} {{ session['staff_lastname'] }}</h3>
                <h5>{{ session['staff_email'] }}</h5>
            </div>
        </div>
        {% endif %}
<a class="" href="/staff/profile">Profile</a>


    </div>
</div>


{% endblock %}